@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:wght@300;400;700&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --red: #e64d4d;
  --green: #57b583;
  --grey: #666666;
}

body {
  font-family: 'Lobster', cursive;
  /* hide scroll bar for the framer motion animation without doing too much selection */
  overflow: hidden;
}
::selection {
  color: white;
  background-color: var(--green);
}
